#barra-ricerca {
    color: rgb(0, 0, 0);
    font-size: medium;
    font-weight: 500;
    background: #8f8f8f;
    border: 2px black;
    border-radius: 2px;
    height: 110%;
    padding-left: 2%;
    padding-right: 2%;
}

#elenco .content section article h5 {
    margin-top: 0; 
    margin-bottom: 1rem; 
    font-size: 1.875rem;
    line-height: 2.25rem; 
    font-weight: 700; 
    text-align: center; 
    color: #202020; 
    text-transform: uppercase;
    text-shadow: #49494971 15px 12px 2px;
}
#elenco .body-fix h5{
    text-shadow: #353535a3 15px 12px 2px;
}

#elenco .money {
    color: #282828;
    text-shadow: #2b2b2b70 3px 3px 2px;
    font-size: 1.875rem;
}
